.input {
    text-align: center;
    background-color: hsl(70, 62%, 50%);
    padding: 8px;
    border-radius: 6px;
    border: none;
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    font-family: 'Open Sans', sans-serif, 'Roboto', sans-serif;
}

.button {
    padding: 8px 15px;
    background-color: hsl(70, 62%, 50%);
    color: black;
    border: none;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif, 'Roboto', sans-serif;
}

.button:hover {
    cursor: pointer;
    border-radius: 16px;
}