.container {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
}

.article {
    margin: 15px 15px 0 15px;
    padding: 30px;
    border-radius: 6px;
    max-width: 1000px;
    background-color: white;
    box-shadow: 0 5px 15px 5px rgba(100, 100, 100, 0.5);
}

.p {
    margin-top: 15px;
}

.img {
    width: 300px;
    height: 300px;
}