@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif, 'Roboto', sans-serif;
    background-color: hsl(192, 8%, 88%);
    background-image: url('assets/bg.jpeg');
}
